.jumbotron
{
/*	background-image: url('/images/Turtle.jpg'); */
	background-color: #353C3F; 
	color:#D5D6D2;	
	border-radius:0px 0px 0px 0px;
	text-align:center;
	/* box-shadow: 2px 2px 2px black; */
	padding: 5rem 5rem 0rem 5rem;
	margin-bottom:8rem;
}

.jumbotron .lead .p{
	color:black;
	
}

.lead {
    color:black;
}

.wrapper{
	background-color:#D5D6D2;
}

.main
	background-color:#353C3F;
}

body{
	background-color:#D5D6D2;
	 /* background-image: linear-gradient(to top, #222629 , #e6e6e6); */
}

.card{
	background-color:#756867;
	color: #D5D6D2;
	text-align:left;
	margin:1rem 1rem 5rem 1rem;
	border-radius:8px 8px 8px 8px; 
	box-shadow: 1px 1px 3px black inset;
}

.card-title{
	border-radius:20px; 
	font-size:24px;
}	
.card-header, .card-header:first-child{		
	padding-top:2rem;
	padding-bottom:2rem;
	color:black;
	text-align:center;
	background-color:#FF8D3F;
	border-radius:5px 5px 0 0;
	box-shadow: 3px 1px 1px #353C3F;
/*	box-shadow:2px 5px 5px black outset; */
}

}
.card-body{
	text-align:left;
}

.main-body {
	margin-top:0rem;
	margin-bottom:8rem;
	padding-bottom:10rem;
	padding-top:8rem;
	text-align:center;
	background-color:#353C3F; 
/*	background-color:#413F3D; */
	padding-left:0rem;

}
h5 {
	font-weight:bold;
}
.page-footer{
	background-color:#D5D6D2;
	color:black;
}
a{
	color:black;
	font-weight:bold;
}
a:link{}
a:active{color:black;}
a:hover{color:#FF8D3F}
