.jumbotron
{
/*	background-image: url('/images/droplets.jpg'); */
	background-color: #697184;
	color:#black;	
	border-radius:0px 0px 0px 0px;
	text-align:center;
	/* box-shadow: 2px 2px 2px black; */
	padding: 5rem 5rem 0rem 5rem;
	margin-bottom:5rem;
}

.jumbotron .lead .p{
	color:black;
	
}

.lead {
    color:black;
}

.main{
	background-color:#B1A6A4;
}

body{
	 /* background-image: linear-gradient(to top, #222629 , #e6e6e6); */
}

.card{
	background-color:#D8CFD0;
	color: #black;
	margin:1rem 1rem 5rem 1rem;
	border-radius:3px 3px 3px 3px; 
	box-shadow: 1px 1px 3px black inset;
}

.card-title{
	border-radius:20px; 
	font-size:24px;
}	
.card-header, .card-header:first-child{		
	padding-top:2rem;
	padding-bottom:2rem;
	color:#D8CFD0;
	text-align:center;
	background-color:#697184;
	border-radius:2px 2px 0 0;
	box-shadow: 3px 1px 1px #353C3F;
/*	box-shadow:2px 5px 5px black outset; */
}

}
.card-body{
}

.main-body {
	margin-top:8rem;
	margin-bottom:8rem;
	padding-bottom:10rem;
	padding-top:8rem;
	text-align:center;
	background-color:#413F3D;
	padding-left:0rem;

}
h5 {
	font-weight:bold;
}
