NameVirtualHost *:80

#<VirtualHost 192.168.0.38:80>
<VirtualHost 192.168.22.42:80>
#ServerAdmin bedeadu@gmail.com
DocumentRoot /var/www/ben2021/docroot/home.php
ServerName bcitren.ddns.net
</VirtualHost>
#<VirtualHost 192.168.22.38:80>
#ServerAdmin admin@example2.com
#DocumentRoot /var/www/ben2021/docroot/
#ServerName www.bcitren.ddns.net
</VirtualHost>
